*
{
  margin: 0rem;
  padding: 0rem;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about
{
    background: url(danielle-cerullo-CQfNt66ttZM-unsplash.jpg);
    width: 100%;
    height: 30vh;
}

.heading 

{
    position: relative;
    top: 3vw;
    left: 35vw;
    font-size: 5rem;
    color: yellow;

}

.about-section
{
    margin-top: 5vw;
    text-align: center;
    font-size: 2vw;
}

.about-hero-span
{
    background-color: yellow;
}

.about-hero-heading
{
    color:#353535;
}

.about-desc
{
    display: flex;
    gap: 5vw;
    align-items: center;
    justify-content: center;
}

.desc-1
{
    margin-left: 5vw;

    margin-top: 0vw;
    font-size: 1.5vw;
    width: 50vw;
    
}

.about-btn
{
    background-color: yellow;
    color: black;
    border: none;
    font-size: 1.25vw;
    font-weight: 37.5vw;
    padding: 0.75vw;
    cursor: pointer;
   
}

.trainer-span
{
  color: black;
  background-color: yellow;
  width: 9.375vw;
}

.trainer
{
  margin-top: 5vw;
  
}

.trainers
{
  display: flex;
  gap: 1.25vw;
  margin-left: 1vw;
}

.trainer-heading
{
  text-align: center;
  font-size: 4.125vw;
}

.trainer-1 img, .trainer-2 img, .trainer-3 img ,.trainer-4 img
{
  margin-top: 2.5vw;
  display: block;
  margin-right: auto;
  margin-left: auto;
 width: 13vw;
 height:25vh;
 border-radius: 50%;
 object-fit: cover;
}

.trainer-name
{
  font-size: 2vw;
  text-align: center;
}

.trainer-desc
{
  margin-left: 1.25rem;
  text-align: center;

}

.footer
{
  margin-top: 3vw;
  background: url(hero.jpg);
  width: 100vw;

}

.headers
{
  display: flex;
  gap: 9vw;
  justify-content: center;
  align-items: center;


}


.header
{
  margin-top: 5vw;

  color: white;
}

.desc
{
  /* margin-top: 100px; */

  display: flex;
  gap: 9vw;
  justify-content: center;
  align-items: center;
  color: yellow;
}

@media(max-width: 600px)
{
  .about
  {
      background: url(danielle-cerullo-CQfNt66ttZM-unsplash.jpg);
      
      width: auto;
      height: 15vh;
  }
  
  .heading 
  
  {
      position: relative;
      top: 1vw;
      left: 15vw;
      font-size: 15vw;
      color: yellow;
  
  }
  
  .about-section
  {
      margin-top: 5vw;
      text-align: center;
      font-size: 2vw;
      width: 100%;
  }
  
  .about-hero-span
  {
      background-color: yellow;
  }
  
  .about-hero-heading
  {
      color:#353535;
      font-size: 7vw;
  }
  
  .about-desc
  {
      display: flex;
      gap: 5vw;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  
  .desc-1
  {
      margin-left: 5vw;
      margin-top: 4vw;
      font-size: 5vw;
      width: auto;

      
  }
  
  .about-btn
  {
      background-color: yellow;
      color: black;
      border: none;
      margin-top: 3vw;
      font-size: 5.25vw;
      font-weight: 37.5vw;
      padding: 0.75vw;
      cursor: pointer;
     
  }
  
  .trainer-span
{
  color: black;
  background-color: yellow;
  width: 9vw;
}

.trainer
{
  margin-top: 5vw;
  
}

.trainers
{
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trainer-heading
{
  text-align: center;
  font-size: 7.125vw;
}

.trainer-1 img, .trainer-2 img, .trainer-3 img ,.trainer-4 img
{
  margin-top: 2.5rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
 width: 12.5rem;
 height:12.5rem;
 border-radius: 50%;
}

.trainer-name
{
  text-align: center;
  font-size: 5vw;
}

.trainer-desc
{
  width: auto;
  text-align: center;
  font-size: 4.5vw;
}
  
  .footer
{
  margin-top: 3.125vw;
  height:auto;
  width: auto;
  background: url(hero.jpg);

}

.headers
{
  display: flex;
  gap: 7vw;
  justify-content: space-around;


}


.header
{
  margin-top: 3vw;
  font-size: 4vw;
  color: white;
}

.desc
{

  font-size: 2vw;
  display: flex;
  gap: 7vw;
  justify-content: space-around;
  align-items: center;
  color: yellow;
}
}
@media(min-width: 601px) and (max-width:768px)
{
  .about
  {
      background: url(danielle-cerullo-CQfNt66ttZM-unsplash.jpg);
      /* filter: grayscale(100%); */
      width: 100vw;
      height: 20vh;
  }
  
  .heading 
  
  {
      /* text-align: center; */
      position: relative;
      top: 3rem;
      left: 13rem;
      font-size: 10vw;
      color: yellow;
      /* text-decoration-line: underline yellow; */
  
  }
  
  .about-section
  {
      margin-top: 30px;
      text-align: center;
      font-size: 4.5vw;
  }
  
  .about-hero-span
  {
      background-color: yellow;
  }
  
  .about-hero-heading
  {
      color:#353535;
  }
  
  .about-desc
  {
      margin-left: 1vw;
      display: flex;
      gap: 6vw;
      flex-direction: column;
  }
  
  .about-png
  {
    margin-left: 1vw;
    width: 50vw;
    height: 100%;
  }
  
  .desc-1
  {
      margin-left: 10px;
  
      margin-top: 80px;
      font-size: 5vw;
      width: 700px;
      /* text-align: center; */
  }
  
  .about-btn
  {
      background-color: yellow;
      color: black;
      border: none;
      margin-top: 2vw;
      font-size: 5.25vw;
      font-weight: 37.5rem;
      padding: 0.75rem;
     
  }
  
  .trainer-span
  {
    color: black;
    background-color: yellow;
    width: 9vw;
  }
  
  .trainer
  {
    margin-top: 5vw;
    
  }
  
  .trainers
  {
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .trainer-heading
  {
    text-align: center;
    font-size: 7.125vw;
  }
  
  .trainer-1 img, .trainer-2 img, .trainer-3 img ,.trainer-4 img
  {
    margin-top: 2.5rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
   width: 12.5rem;
   height:12.5rem;
   border-radius: 50%;
  }
  
  .trainer-name
  {
    text-align: center;
    font-size: 5vw;
  }
  
  .trainer-desc
  {
    width: auto;
    text-align: center;
    font-size: 5vw;
  }
  
  .footer
  {
    width: 100%;
    margin-top: 3.125vw;
    height:auto;
    background: url(hero.jpg);
  
  }
  
  .headers
  {
    display: flex;
    gap: 7vw;
    justify-content: space-around;
  
  
  }
  
  
  .header
  {
    margin-top: 3vw;
    font-size: 4vw;
    color: white;
  }
  
  .desc
  {
  
    font-size: 2vw;
    display: flex;
    gap: 7vw;
    justify-content: space-around;
    align-items: center;
    color: yellow;
  }
}

@media(min-width: 769px) and (max-width:1024px)
{

  .about
  {
      background: url(danielle-cerullo-CQfNt66ttZM-unsplash.jpg);
      /* filter: grayscale(100%); */
      width: 100vw;
      height: 20vh;
  }
  
  .heading 
  
  {
      /* text-align: center; */
      position: relative;
      top: 3rem;
      left: 13rem;
      font-size: 10vw;
      color: yellow;
      /* text-decoration-line: underline yellow; */
  
  }
  
  .about-section
  {
      margin-top: 30px;
      text-align: center;
      font-size: 4.5vw;
  }
  
  .about-hero-span
  {
      background-color: yellow;
  }
  
  .about-hero-heading
  {
      color:#353535;
  }
  
  .about-desc
  {
      margin-left: 1vw;
      display: flex;
      gap: 6vw;
      flex-direction: column;
  }
  
  .about-png
  {
    margin-left: 1vw;
    width: 50vw;
    height: 100%;
  }
  
  .desc-1
  {
      margin-left: 10px;
  
      margin-top: 80px;
      font-size: 5vw;
      width: 700px;
      /* text-align: center; */
  }
  
  .about-btn
  {
      background-color: yellow;
      color: black;
      border: none;
      margin-top: 2vw;
      font-size: 5.25vw;
      font-weight: 37.5rem;
      padding: 0.75rem;
     
  }
  
  .trainer-span
  {
    color: black;
    background-color: yellow;
    width: 9vw;
  }
  
  .trainer
  {
    margin-top: 5vw;
    
  }
  
  .trainers
  {
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .trainer-heading
  {
    text-align: center;
    font-size: 7.125vw;
  }
  
  .trainer-1 img, .trainer-2 img, .trainer-3 img ,.trainer-4 img
  {
    margin-top: 2.5rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
   width: 25.5vw;
   height:25.5vw;
   border-radius: 50%;
  }
  
  .trainer-name
  {
    text-align: center;
    font-size: 5vw;
  }
  
  .trainer-desc
  {
    width: auto;
    text-align: center;
    font-size: 5vw;
  }
  
  .footer
  {
    width: 100%;
    margin-top: 3.125vw;
    height:auto;
    background: url(hero.jpg);
  
  }
  
  .headers
  {
    display: flex;
    gap: 7vw;
    justify-content: space-around;
  
  
  }
  
  
  .header
  {
    margin-top: 3vw;
    font-size: 4vw;
    color: white;
  }
  
  .desc
  {
  
    font-size: 2vw;
    display: flex;
    gap: 7vw;
    justify-content: space-around;
    align-items: center;
    color: yellow;
  }



}